<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'HELP_SUPPORT_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-content">
  <h3 class="faq">{{ 'FAQ_TITLE' | translate }}</h3>
  <ion-accordion-group *ngIf="faqs; else noDataTemplate">
    <ion-accordion *ngFor="let faq of faqs; let i = index" [value]="'accordion' + i">
      <ion-item slot="header">
        <ion-label>{{ faq?.question }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" class="faq-answer">{{ faq?.answer }}</div>
    </ion-accordion>
  </ion-accordion-group>
  <ng-template #noDataTemplate>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <p>{{ 'NO_DATA_FOUND' | translate }}</p>
      </ion-col>
    </ion-row>
  </ng-template>
  <h3 class="contact">{{ 'CONTACT_US_TITLE' | translate }}</h3>
  <strong>{{ 'EMAIL_LABEL' | translate }}</strong>
  <p>{{ email }}</p>
  <strong>{{ 'CONTACT_NO_LABEL' | translate }}</strong>
  <p>{{ 'CONTACT_NO_VALUE' | translate }}</p>
</div>
</ion-content>
