ion-header {
  --background: var(--ion-dark-background);
  ion-toolbar {
    ion-buttons{
      color: var(--color-header-title);
    }
    --background: transparent;
    --background: var(--ion-dark-background);
    ion-title {
      color: var(--color-header-title);
      font-size: 1.56rem;
      font-weight: 400;
      text-align: center;
      margin-right: 1.88rem;
    }
  }
}
ion-content {
  --background: var(--ion-dark-background);

  h3 {
    color: var(--ion-label-color);
  }

  .form-content {
    width: 25vw;
    margin: 0 auto;
  }

  ion-accordion-group {
    ion-accordion {
      --background: var(--ion-dark-background); 
      --color: var(--ion-label-color);
      --ion-item-background: var(--ion-dark-background);
      --ion-item-color: var(--ion-label-color);

      div[slot="content"] {
        --background: var(--ion-dark-background);
        padding: 1rem;
        border-radius: 0.5rem;
        color:var(--ion-label-color);
      }
    }
  }

  .faq {
    color: var(--ion-label-color);
    margin-bottom: 1.5rem;
  }

  .contact {
    color: var(--ion-label-color);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  strong {
    color: var(--ion-label-color);
  }

  p {
    color: var(--ion-label-color);
  }

  /* Responsive Design */

  /* Mobile devices: 320px–480px */
  @media screen and (min-width: 320px) and (max-width: 480px) {
  

    .form-content {
      width: 90vw;
    }
  }

  /* Tablets: 481px–768px */
  @media screen and (min-width: 481px) and (max-width: 768px) {

    .form-content {
      width: 70vw;
    }

  }

  /* Small screens and laptops: 769px–1024px */
  @media screen and (min-width: 769px) and (max-width: 1024px) {


    .form-content {
      width: 50vw;
    }

   
  }

  /* Large screens: 1025px and up */
  @media screen and (min-width: 1025px) {

    .form-content {
      width: 35vw;
    }

  }
}

