<ion-content class="ion-padding">
<div class="form-content">
  <ion-grid class="ion-margin-bottom" class="signin-grid">
    <ion-row>
      <ion-col size="4">
        <ion-button fill="clear" routerLink="/login" class="back-button">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <h2>{{ 'FORGOT_PASSWORD' | translate }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>  
  <ion-row class="ion-margin-top ion-margin-bottom">
    <ion-col>
      <div class="circle-container">
        <ion-icon name="lock-closed-outline" class="center-icon"></ion-icon>
        <span class="ellipsis">...</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center ion-margin-top">
      <ion-text>
        <ion-label>{{ 'REGISTERED_EMAIL' | translate }}</ion-label>
        {{ 'ENTER_EMAIL_VERIFICATION_CODE' | translate }}
      </ion-text>
    </ion-col>
  </ion-row>
  <form [formGroup]="forgotPasswordForm">
    <ion-grid class="signin-button-grid">
      <ion-label>{{ 'EMAIL' | translate }}</ion-label>
      <ion-item lines="full" class="ion-margin-top">
        <ion-input type="email" name="email" required placeholder="Enter Registered Email"
          formControlName="email"></ion-input>
      </ion-item>
      <ion-text class="ion-text-left" color="danger"
        *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched">
        <p class="error" color="danger">{{ 'ENTER_VALID_EMAIL' | translate }}</p>
      </ion-text>
    </ion-grid>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <div class="button-container">
          <ion-button class="get-started-button" (click)="onSubmit()" [disabled]="!forgotPasswordForm.valid">
            <span>{{ 'SEND' | translate }}</span>
            <ion-img alt="" src="assets/arrow-1.svg" slot="end" class="arrow-img"></ion-img>
            <ion-img alt="" src="assets/spacer.svg" slot="end" class="circle_image"></ion-img>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>