<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'ABOUT_DAMMANATI' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    <strong class="dammanati1">{{ 'DAMMANATI' | translate }}</strong> {{ 'ABOUT_DESCRIPTION_1' | translate }}
    <strong class="dammanati2">{{ 'DAMMANATI' | translate }}</strong>{{ 'ABOUT_DESCRIPTION_2' | translate }}
  </p>
  <h2>
    <strong class="why-choose">{{ 'WHY_CHOOSE' | translate }}</strong>
    <strong class="dammanati1">{{ 'DAMMANATI' | translate }}</strong>?
  </h2>
  <p>{{ 'WHY_CHOOSE_DESCRIPTION' | translate }}</p>
  <ion-img class="center-image" src="assets/about/objects@2x.png"></ion-img>
  <h2>
    <strong class="why-choose">{{ 'HOW_IT' | translate }}</strong>
    <strong class="dammanati1">{{ 'WORKS' | translate }}:</strong>
  </h2>
  <ol>
    <li><strong>{{ 'ADD_WARRANTIES' | translate }}:</strong> {{ 'ADD_WARRANTIES_DESCRIPTION' | translate }}</li>
    <li><strong>{{ 'ORGANIZE' | translate }}:</strong> {{ 'ORGANIZE_DESCRIPTION' | translate }}</li>
    <li><strong>{{ 'SET_REMINDERS' | translate }}:</strong> {{ 'SET_REMINDERS_DESCRIPTION' | translate }}</li>
    <li><strong>{{ 'ACCESS_ANYWHERE' | translate }}:</strong> {{ 'ACCESS_ANYWHERE_DESCRIPTION' | translate }}</li>
  </ol>
  <ion-img class="center-image" src="assets/about/objects-1.svg"></ion-img>
  <p>
    <a href="https://play.google.com/store/apps/details?id=com.google.android.googlequicksearchbox&hl=en_IN">{{ 'DOWNLOAD_DAMMANATI' | translate }}</a>
    {{ 'DOWNLOAD_DESCRIPTION' | translate }}
    <strong class="support">{{ 'SUPPORT_EMAIL' | translate }}</strong>
    {{ 'WARRANTY_MANAGEMENT_JOURNEY' | translate }}
  </p>
  <p class="app-version">{{ 'APP_VERSION' | translate }}</p>
</ion-content>
