<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'TERMS_CONDITIONS_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>{{ 'TERMS_CONDITIONS_INTRO' | translate }}</p>
  <ul>
    <li>{{ 'TERMS_CONDITIONS_LIMIT_LIABILITY' | translate }}</li>
    <li>{{ 'TERMS_CONDITIONS_ANSWER_QUERIES' | translate }}</li>
    <li>{{ 'TERMS_CONDITIONS_PROTECT_IP' | translate }}</li>
    <li>{{ 'TERMS_CONDITIONS_MINIMIZE_DISPUTES' | translate }}</li>
    <li>{{ 'TERMS_CONDITIONS_ESTABLISH_RULES' | translate }}</li>
    <li>{{ 'TERMS_CONDITIONS_POST_DISCLAIMERS' | translate }}</li>
  </ul>
  <p>{{ 'TERMS_CONDITIONS_GUIDE' | translate }}</p>
  <p>{{ 'TERMS_CONDITIONS_EXPLAIN' | translate }}</p>
  <h6 routerLink="/privacy-policy">{{ 'PRIVACY_POLICY_LINK' | translate }}</h6>
  <!-- <hr /> -->
</ion-content>
