<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start" (click)="navigateToHome()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">QR Scanned Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Result : </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ scannedData }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
