<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="navigateToHome()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">QR Scanned Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="result-container" [ngClass]="hasResult ? 'success-container' : 'error-container'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Result:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [ngClass]="{
          'success-result': hasResult && !isUrl,
          'error-result': !hasResult,
          'url-result': isUrl
        }">
          <ng-container *ngIf="isUrl; else normalText">
            <a (click)="openUrl(scannedData)" class="url-link">
              {{ scannedData }}
            </a>
          </ng-container>
          <ng-template #normalText>
            {{ scannedData }}
          </ng-template>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>