<ion-content>
  <ion-img class="image_top" src="assets/objects@2x.png" alt=""></ion-img>
  <h4>{{ 'SELECT_LANGUAGE' | translate }}</h4>
  <ion-button expand="block" class="langouge_button" (click)="switchLanguage('en')" [ngClass]="{'selected': currentLanguage === 'en', 'not-selected': currentLanguage !== 'en'}">
    {{ 'ENGLISH' | translate }}
  </ion-button>
  <ion-button expand="block"  class="langouge_button" (click)="switchLanguage('ar')" [ngClass]="{'selected': currentLanguage === 'ar', 'not-selected': currentLanguage !== 'ar'}">
    {{ 'ARABIC' | translate }}
  </ion-button>
  <div class="button-container">
    <ion-button class="get-started-button" routerLink="/sign-up">
      <span>{{ 'CONTINUE' | translate }}</span>
      <ion-img alt="" src="assets/arrow-1.svg" slot="end" class="arrow-img"></ion-img>
      <ion-img alt="" src="assets/spacer.svg" slot="end" class="circle_image"></ion-img>
    </ion-button>
  </div>
</ion-content>