<ion-header class="ion-no-border" *ngIf="dataLoaded">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ 'PRIVACY_POLICY_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    {{ 'PRIVACY_POLICY_INTRO_1' | translate }}
    <strong>{{ 'PRIVACY_POLICY' | translate }}</strong> {{ 'PRIVACY_POLICY_INTRO_2' | translate }}
  </p>
  <p>
    {{ 'PRIVACY_POLICY_TEMPLATE_INFO' | translate }}
    {{ 'PRIVACY_POLICY_TEMPLATE' | translate }} {{ 'PRIVACY_POLICY_TEMPLATE_INFO_2' | translate }}
  </p>
  <p>
    {{ 'PRIVACY_POLICY_PROTECTION_INFO' | translate }}
    {{ 'PRIVACY_POLICY' | translate }} {{ 'PRIVACY_POLICY_PROTECTION_INFO_2' | translate }}
    {{ 'PRIVACY_POLICY_PROTECTION_INFO_3' | translate }}
  </p>
</ion-content>
