
capacitor-google-map {
    display: block;
    width: 100%;
    height: calc(90% - 56px);
  }
  
  ion-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
  }